form{
  width: 100%;
  margin: 30px;
}

h1{
  text-align: center;
  color: rgb(40, 150, 137);
}
form  { display: table;      }
p     {
  height: 40px;
  display: table-row;
}

label {
  display: table-cell;
  font-weight: bold;
 }
input { display: table-cell; }

button{
  margin-right: 10px;
}
.performer{
  width: 90px;
}
#title{
  width: 80%;
}
